* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scacchiera {
    width: 800px;
    height: 800px;
    margin: 0 auto;
}

.casella {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    float: left;
}

.rosso {
    background-color: red;
}

.verde {
    background-color: green;
}
